<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tp Dessin 7 novembre 25</div>
        <span th:utext="${dessin.genererLeDessin()}"/>
        
        <p>Caractère pour le remplissage</p>
        <form action="/remplir" method="post">
            <input type="text" name="character">
            <input type="submit" value="Remplir le dessin">
        </form>
        
        <p>Formulaire de dessinage de rectangulage</p>
        <form action="/rectangle" method="post">
            <label>x1</label>
            <input type="number" name="x1" required>
            <label>x2</label>
            <input type="number" name="x2" required>
            <label>y1</label>
            <input type="number" name="y1" required>
            <label>y2</label>
            <input type="number" name="y2" required>
            <label>Character</label>
            <input type="text" name="character"><br><br>
            
            <input type="submit" value="Dessiner le rectangle">
        </form>
    </body>
</html>
